:root {
  --primary-gray: #e5dfdf;
  --primary-light: #6ba8a9;
  --primary-mid: #357376;
  --primary-dark: #1d4d4f;
  --primary-fulldark: #0c2021;
  --secondary-gray: #c9d1d3;
  --secondary-light: #00909e;
  --secondary-mid: #465881;
  --secondary-dark: #1b2a49;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-fulldark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  text-align: left;
  color: var(--primary-mid);
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary-dark);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: var(--primary-light);
  text-decoration: none;
  color: var(--primary-dark);
}

.active {
  background-color: var(--primary-gray);
  color: var(--primary-dark);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  height: 50px;
  padding-top: 15px;
  text-align: center;
}
